nav{
    display: inline-block;
    min-height: 10vh;
    background-color: #F2F7F8;

    ul{
        display: inline;
        height: 100%;

        li{
            list-style: none;
            display: inline;
            float: right;
            margin-top: calc(10vh - 50px);

            a{
                align-self: center;
                text-decoration: none;
                font-size: 16px;
                color: #525561;
                padding: calc(10vh - 75px) 20px;
            }

            a:hover{
                color: #fff;
                background-color: gray;
            }
        }
    }
}

.nav-logo{
    // display: inline;
    width: 150px;
    margin: 15px;
    // border-radius: 50px;
    // float:left; 
}

.menu-bar{
    display: none;
}

.toggle-nav-hide{
    display: none;
}

.toggle-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    a{
        text-align: center;
        width: 100%;
        padding: 20px;
        text-decoration: none;
        color: #525561;
    }
}

.toggle-nav a:hover{
    background-color:gray;
    color: white;
}




// .non-active-nav {
//     font-size: 20px;
//     ul {
//         display: flex;

//         li {
//             list-style: none;

//             a {
//                 text-decoration: none;
//                 margin: 0 14px;
//                 font-size: 1em;
//                 color: #525561 !important;
//             }
//         }
//     }

//     .list-label {
//         display: none;
//     }

//     [aria-current="page"] {
//         border-bottom: 4px solid #e2e7eb;
//         color: #e2e7eb !important;
//         ;
//     }

// }

// .navigation {

//     min-height: 10vh;
//     width: 90%;
//     margin: 0 5%;
//     border-bottom: 1px solid #6498D2 !important;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     position: absolute;
//     z-index: 999;

//     h1 {
//         a {
//             font-size: 20px;
//         }
//     }
// }

// .hamburger-ul {
//     display: none;
// }




// /*Active Nav*/

// .active-nav {
//     height: 100vh;
//     position: fixed;
//     z-index: 999;
//     width: 100%;
//     top: 0;
//     background: #060606;
//     right: 0;

//     .list-label {
//         text-transform: uppercase;
//         letter-spacing: 6px;
//         color: #6d6868ee;
//         margin-bottom: 1.5em;
//     }

//     ul {
//         text-align: left;
//         transform: translateY(10em);
//         margin: 0 20em;
//         display: flex;
//         flex-direction: column;
//         height: 60vh;
//         justify-content: center;
//         border-bottom: 1px solid #3e3e3e;
//         border-top: 1px solid #3e3e3e;
//     }

//     li {
//         list-style-type: none;
//         font-size: 2em;
//         padding: 17px 0;
//         font-weight: bold;


//         &:hover {
//             &:after {
//                 content: '';
//                 width: 0;
//                 background: #d6a26c;
//                 position: relative;
//                 display: block;
//                 height: 1px;
//                 animation: nav-after;
//                 animation-iteration-count: infinite;
//                 animation-duration: 3.5s;
//             }
//         }
//     }

//     a {
//         text-decoration: none;
//         color: #fff !important;

//         &:hover {
//             color: #d6a26c !important;
//         }

//         // text-transform: capitalize;
//     }

//     .hamburger-x-mark {
//         width: 25px;
//         display: block;
//         height: 3px;
//         background: #fff;
//         margin: 3px 0;
//         cursor: pointer;

//         &:nth-child(1) {
//             transform: rotate(45deg);
//             top: 4px;
//             position: relative;
//         }

//         &:nth-child(2) {
//             transform: rotate(-45deg);
//             position: relative;
//             top: -2px;
//         }
//     }
// }

// .close-mark {
//     display: none !important;
//     padding: 18px 13px;
//     border-radius: 50%;
//     background: #506fff;
//     cursor: pointer;
//     position: relative;
//     display: inline-block;
//     position: absolute;
//     right: 75px;
//     top: 42px;
// }

// .logo-img {
//     width: 99px;
//     max-width: 100%;
//     // border-radius: 11rem;
// }


// .hamburger-span {
//     width: 25px;
//     display: block;
//     height: 3px;
//     background: #fff;
//     margin: 3px 0;
//     cursor: pointer;
// }